# Airflow
AIRFLOW_UID=50000

# MySQL source
MYSQL_HOST=mysql-source
MYSQL_PORT=3306
MYSQL_USER=reader
MYSQL_PASSWORD=pass
MYSQL_DATABASE=source_db

# DolphinDB
DDB_HOST=dolphindb
DDB_PORT=8848
DDB_USER=admin
DDB_PASSWORD=123456

# Checkpoint
CHECKPOINT_DB_PATH=/opt/airflow/checkpoint/checkpoint.db
